<section id="contact">
	<div class="container">
		<div class="title">
			<h1><b>Contact Us</b></h1>
			<p>If you have any more questions or would like to talk to a
			real human, please feel free to contact us via the methods
			below.</p>
		</div>
		<i class="ion-arrow-down-c"></i>
		<div class="icon-div">
			<i class="ion-email"></i>
			<i class="ion-ios-telephone"></i>
			<i class="ion-social-twitter ion-social"></i>
		</div>
		<div class="icon-tooltip-div">
			<div class="tooltip tooltip1">
				<p>Please email us at 
				fitnessasylum@mail.com</p>
			</div>
			<div class="tooltip tooltip2">
				<p>Give us a call at 888-888-8888</p>
			</div>
			<div class="tooltip tooltip3">
				<p>Follow us on Twitter at 
				@fitnessasylum</p>
			</div>
		</div>
	</div>
</section>