<footer id="footer">
	<div class="footer-wrap">
		<div class="follow-us">
			<div class="follow-text"><p>Follow Us:</p></div>
			<div class="follow-icon1"><i class="ion-social-youtube-outline"></i></div>
			<div class="follow-icon2"><i class="ion-social-twitter"></i></div>
			<div class="follow-icon3"><i class="ion-social-facebook"></i></div>
			<div class="follow-icon4"><i class="ion-social-googleplus"></i></div>
			<div class="follow-icon5"><i class="ion-social-pinterest-outline"></i></div>
		</div>
		<div class="copyright"><p>© Derrick Johnson.  All Rights Reserved 2015.</p></div>
	</div>
</footer>