<section id="home">
	<div class="title">
		<h1><b>The Fitness Asylum</b></h1>
		<h2>Do Not Condemn Who You Are Today.<br>Dream Of Who You Can Be Tommorrow.</h2>
		<span class="icon bounce"><i class="fa fa-angle-double-down"></i></span>
	</div>
	<div id="nav">
		<div class="logo"></div>
		<ul class="side-nav">
			<li><a href="#home">Home</a><i class="ion-arrow-left-b"></i></li>
			<li><a href="#videos">Videos</a><i class="ion-arrow-left-b"></i></li>
			<li><a href="#gallery">Gallery</a><i class="ion-arrow-left-b"></i></li>
			<li><a href="#trainers">Trainers</a><i class="ion-arrow-left-b"></i></li>
			<li><a href="#nutrition">Nutrition</a><i class="ion-arrow-left-b"></i></li>
			<li><a href="#plans">Member Plans</a><i class="ion-arrow-left-b"></i></li>
			<li><a href="#contact">Contact</a><i class="ion-arrow-left-b"></i></li>
		</ul>
	</div>
</section>