<section id="home">
	<div class="title">
		<h1><b>The Fitness Asylum</b></h1>
		<h2>Your New Life Starts Here!</h2>
		<span class="icon bounce"><i class="fa fa-angle-double-down"></i></span>
	</div>
	<div id="nav">
		<div class="logo"></div>
		<ul class="side-nav">
			<li><a href="">Home</a><i class="ion-arrow-left-b"></i></li>
			<li><a href="">Videos</a><i class="ion-arrow-left-b"></i></li>
			<li><a href="">Gallery</a><i class="ion-arrow-left-b"></i></li>
			<li><a href="">Trainers</a><i class="ion-arrow-left-b"></i></li>
			<li><a href="">Nutrition</a><i class="ion-arrow-left-b"></i></li>
			<li><a href="">Member Plans</a><i class="ion-arrow-left-b"></i></li>
			<li><a href="">Contact</a><i class="ion-arrow-left-b"></i></li>
		</ul>
	</div>
</section>