<section id="plans">
	<div class="container">
		<div class="title">
			<h1><b>View Our Plans</b></h1>
			<h2>We have different plans for any goals you want to achieve.</h2>
		</div>
		<div class="plan-flex">
			<div class="price-box">
				<div class="price-title">
					<div class="plan-type"><p>Basic</p><p>19$</p></div>
				</div>
				<div class="perks">
					<ul>
						<li><i class="ion-checkmark-circled"></i>Access to all gym equipment on first level.</li>
					</ul>
				</div>
			</div>
			<div class="price-box">
				<div class="price-title">
					<div class="plan-type"><p>Pro</p><p>49$</p></div>
				</div>
				<div class="perks">
					<ul>
						<li><i class="ion-checkmark-circled"></i>Access to all gym equipment on first level.</li>
						<li><i class="ion-checkmark-circled"></i>Access to indoor pools.</li>
						<li><i class="ion-checkmark-circled"></i>Discounts on personal trianers, classes and VIP locker rooms.</li>
						<li><i class="ion-checkmark-circled"></i>Discounts at Smoothie Bar</li>
					</ul>
				</div>
			</div>
			<div class="price-box">
				<div class="price-title">
					<div class="plan-type"><p>VIP</p><p>69$</p></div>
				</div>
				<div class="perks">
					<ul>
						<li><i class="ion-checkmark-circled"></i>Access to all Pro Plan perks.</li>
						<li><i class="ion-checkmark-circled"></i>Free, any-time tanning.</li>
						<li><i class="ion-checkmark-circled"></i>Access to all gym equipment on first level.</li>
						<li><i class="ion-checkmark-circled"></i>Free after-hours pass for the Night Owls and Early Birds.</li>
					</ul>
				</div>
			</div>
		</div>
		<h1>OR</h1>
		<a href=""><span>Apply For A Free 14 Day Trial NOW</span></a>
	</div>
</section>