#contact
	background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,0.7)), url(../images/BGs/map.jpg) no-repeat
	background-size: cover
	text-align: center
	overflow: hidden
	// padding-bottom: 75px


	.container
		width: 110%
	

	.title
		padding: 75px 10px 0
		font-weight: 300
		font-family: 'Open Sans'

		h1
			font-size: 30px 
			letter-spacing: 1px
			color: #F7F7F7

		p
			font-size: 18px
			letter-spacing: 1px
			max-width: 550px
			margin: 0 auto
			padding: 25px 0 50px
			color: transparentize(#F7F7F7,.2)

	.icon-div
		color: #F7F7F7
		font-size: 40px
		display: flex
		align-items: center
		justify-content: space-between
		max-width: 500px
		margin: 55px auto 25px
		padding-top: 50px
		
		.icon-unit
			width: 33%

			&:nth-child(1) i 
				padding: 29px 43px

				&:hover
					border: 5px solid #12DAFB
					color: #12DAFB
			
			&:nth-child(2) i 
				padding: 29px 45px

				&:hover
					border: 5px solid #00D302
					color: #00D302

			&:nth-child(3) i

				&:hover
					border: 5px solid #EA26DD
					color: #EA26DD

			&:nth-child(1) p 
				color: #12DAFB

			&:nth-child(2) p 
				color: #00D302

			&:nth-child(3) p 
				color: #EA26DD

			p 
				padding: 25px 0	
				opacity: 0
				font-size: 14px
				+transition(700ms)

			&:hover p 
				opacity: 1


		[class^="ion-"]
			padding: 29px 40px
			border-radius: 50%
			border: 5px solid white
			cursor: pointer
			+transition(300ms)

	.ion-arrow-down-c
		color: #F7F7F7
		font-size: 30px



@media (max-width: 1070px)

	#contact
		overflow: none

		.container
			width: 100%

@media (max-width: 560px)

	#contact

		.container
			.icon-div 
				flex-direction: column

				.icon-unit
					margin: 10px 0

					p 
						margin-top: 30px
