#gallery
	width: 100%
	background: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),  url(../images/BGs/gallery-bg.jpg)  center center no-repeat
	background-size: cover
	padding: 100px 0 75px
	overflow: hidden


	.container
		width: 110%

	.center
		margin: 200px auto 50px
		max-width: 900px
		z-index: 0

	.image
		position: relative 
		background-size: cover
		width: 300px
		height: 250px
		margin: 15px
		+transition()
		cursor: pointer
		box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75)

		.overlay
			+position(absolute, 0 0 0 0)
			background-color: transparentize(black, .2)
			border: 3px solid white
			line-height: 250px
			text-align: center
			color: #FFF
			letter-spacing: 1px
			display: none 
			+transition(500ms)

			strong
				padding: 5px
				 
		&:hover
			transform: scale(1.1)

		&:hover .overlay
			display: block

	.title
		
		text-align: left
		color: #f7f7f7
		font-family: 'Open Sans'
		margin: 0 auto
		max-width: 620px
		padding: 0 10px

		h1 
			font-weight: 600
			font-size: 50px
			line-height: 48px
			letter-spacing: 25
			

		h2
			font-size: 24px
			font-weight: 500
			line-height: 48px
			letter-spacing: 25
			max-width: 470px
			
		a 
			font-size: 14px
			text-transform: uppercase 
			font-weight: bold
			color: #F7F7F7
			text-decoration: none
			font-family: 'Open Sans'
			padding: 15px 20px

			span
				border: 3px solid #F7F7F7
				padding: 15px 25px
				line-height: 14px
				float: right

				&:hover
					background-color: #F7F7F7
					color: #702021
@media (max-width: 1196px)
	#gallery

		.center
			margin: 125px auto 0
			max-width: 700px

@media (max-width: 1070px)

	#gallery 
		overflow: hidden

		.container
			width: 100%

			.title
				text-align: center
				

				h2 
					margin: 25px auto 60px
					font-size: 20px
					line-height: 25px

				a 	
					

					span 
						float: initial
						text-align: center

@media (max-width: 870px)
	#gallery 
		
		.container
		
			.center
				margin-top: 75px

@media (max-width: 760px)
	#gallery 
		
		.container
		
			.center
				max-width: 300px
			.title
				

				h2 
					max-width: 620px
					
					