#home
	background: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)), url(/assets/images/BGs/dumbells.jpg) left no-repeat
	background-size: cover
	height: 100vh
	max-width: 100%
	position: relative

	.title
		text-align: center 
		color: #f7f7f7
		font-family: 'Audiowide'
		+position(absolute, 50% null null 50%)
		margin-left: -16.3%
		margin-top: -8.1%
		width: 620px

		h1 
			font-weight: 600
			font-size: 60px
			line-height: 48px
			letter-spacing: 25
			color: #014652
			display: inline
			padding: 0 10px 
			background-color: #FFF

		h2
			font-size: 18px
			font-weight: 500
			line-height: 35px
			letter-spacing: 25
			font-family: 'Open sans'

		h3 
			font-size: 30px
			margin: 15px 0
		.fa-angle-double-down
			font-size: 48pt
			margin-top: 140px

	#nav
		width: 175px
		background-color: #111
		height: 100vh
		overflow: auto
		position: fixed

		.logo
			margin: 0 auto
			background: url(/assets/images/logos/logo.png) center center no-repeat
			background-size: contain
			width: 130px
			height: 100px
			margin-top: 100px

		.side-nav 
			list-style-type: none 
			width: 120px
			text-align: right
			margin-right: 30px
			margin-top: 100px
			line-height: 24pt


			li
				cursor: pointer 
				a 
					color: #f7f7f7
					text-transform: uppercase
					text-decoration: none
					letter-spacing: 25
					margin-right: 10px

					&.hover
						color: $lightblue

				.ion-arrow-left-b
					color: $lightblue
					opacity: 0

					&.hover
						opacity: 1




