#home
	background: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)), url(../images/BGs/dumbells.jpg)  center  no-repeat
	background-size: cover
	height: 100vh
	max-width: 100%
	position: relative
	overflow: hidden
	


	.mobile-nav
		max-width: 50px
		color: white 
		z-index: 3
		font-size: 30px
		cursor: pointer
		+position(absolute, 0px null null 10px)
		display: none
		position: fixed

	.title
		text-align: center 
		color: #f7f7f7
		font-family: 'Audiowide'
		margin: 300px auto 100px
		max-width: 620px
		
		

		h1 
			font-weight: 600
			font-size: 60px
			line-height: 48px
			letter-spacing: 25
			color: #014652
			display: inline
			padding: 0 10px 
			background-color: #FFF

		h2
			font-size: 18px
			font-weight: 500
			line-height: 35px
			letter-spacing: 25
			font-family: 'Open sans'

		h3 
			font-size: 30px
			margin: 15px 0

		.fa-angle-double-down
			font-size: 48pt
			margin-top: 140px

	#nav
		max-width: 175px
		background-color: #0C0C0C
		height: 100vh
		z-index: 2
		position: fixed		
		text-align: center
		transition: max-width 0.4s
		overflow: hidden


		.slide
			max-width: 175px
		
		.logo
			margin: 0 auto
			background: url(../images/logos/logo.png) center center no-repeat
			background-size: contain
			width: 130px
			height: 100px
			margin-top: 100px

		.side-nav 
			list-style-type: none 
			width: 120px
			text-align: right
			margin-right: 30px
			margin-top: 100px
			line-height: 24px 

			li
				cursor: pointer 
				a 
					color: #f7f7f7
					text-transform: uppercase
					text-decoration: none
					letter-spacing: 25
					margin-right: 10px

					&.hover
						color: $lightblue

				.ion-arrow-left-b
					color: $lightblue
					opacity: 0

					&.hover
						opacity: 1
@media (max-width: 1070px)
	#home
		
		.mobile-nav
			display: inline-block

		#nav
			max-width: 0

			&.showing
				max-width: 20em

		.title
			h1
				font-size: 50px

@media (max-width: 600px)
	#home
		
		.mobile-nav
			display: inline-block

		.title
			h1
				font-size: 40px

			h2
				font-size: 14px

			h3 
				font-size: 25px



