#videos
	width: 100%
	background: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)), url(/assets/images/VideoSection/movie.jpg) center center no-repeat
	background-size: cover
	padding: 100px 0 0


	.title
		
		text-align: left
		color: #f7f7f7
		font-family: 'Open Sans'
		margin: 0 auto
		width: 620px
		padding-left: 450px

		h1 
			font-weight: 600
			font-size: 50px
			line-height: 48px
			letter-spacing: 25
			margin-left: 85px
			

		h2
			font-size: 24px
			font-weight: 500
			line-height: 48px
			letter-spacing: 25
			margin-left: 85px


	.youtube
		display: flex
		margin: 0 auto
		max-width: 620px
		height: 550px
		justify-content: space-between
		align-items: center

		iframe
			border: 3px solid #F7F7F7
			box-shadow: -1px 1px 9px 1px rgba(0,0,0,0.53)

	span
		border: 3px solid #F7F7F7
		padding: 15px 0
		line-height: 14px
		
		a 
			font-size: 14px
			text-transform: uppercase 
			font-weight: bold
			color: #F7F7F7
			text-decoration: none
			font-family: 'Open Sans'
			padding: 15px 25px

			&:hover
				background-color: #F7F7F7
				color: #246C18
			
			
